<h1>welcome dashboard </h1>


<div class="dropdown">
  <button class="dropbtn">Services</button>
  <div class="dropdown-content">
    <a href="#" routerLink="/addemployee">AddEmployee</a>
    <a href="#" routerLink="/editemployee">EditEmployee</a>
    <a href="#" routerLink="/listemployee">ListEmployee</a>
  </div>
</div>
<div class="dropdown">
  <button class="dropbtn">3rd Party</button>
  <div class="dropdown-content">
    <a href="#" routerLink="/tablegridline">Table Gridline</a>
    <a href="#" routerLink="/primedropdown">Dropdown</a>
    <a href="#" routerLink="/primetabview" >TabView</a>
  </div>
</div>

<div class="dropdown">
  <button class="dropbtn"  (click)="onlogout()" >LogOut</button>
</div>
