 <h1>Login</h1>
<!-- <nav>
  <a routerLink="/login" routerLinkActive="active">login</a><br>
  <a routerLink="/dashboard" routerLinkActive="active">dashboard</a>
</nav> -->
 
<form>
  
  <div class="form-outline mb-4">
    <input type="email" id="form2Example1" class="form-control" />
    <label class="form-label" for="form2Example1">Email address</label>
  </div>

  <div class="form-outline mb-4">
    <input type="password" id="form2Example2" class="form-control" />
    <label class="form-label" for="form2Example2">Password</label>
  </div>

  <button type="button"  class="btn btn-primary btn-block mb-4"><a href="/dashboard">Login</a> </button>
</form>

