  <p-tabView>
    <p-tabPanel header="Header 1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, possimus. Nisi earum aperiam nihil. Velit magni repudiandae quod, culpa dolorem unde, obcaecati autem dolores architecto laboriosam eligendi reprehenderit est impedit.
    </p-tabPanel>
    <p-tabPanel header="Header 2">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia quisquam, dolor aspernatur beatae debitis cumque quaerat? Officia voluptatem harum debitis, at amet molestias quos dolore libero recusandae numquam ipsum quas?   
    </p-tabPanel>
    <p-tabPanel header="Header 3">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus ea quae beatae corporis, nihil voluptate accusamus molestias earum fugiat provident praesentium quaerat numquam modi cumque vero. Velit adipisci reprehenderit nobis.
    </p-tabPanel>
</p-tabView>