<div *ngFor="let emp of employees">
  <h6>{{emp.ename}}, {{emp.city}}, {{emp.eid}},{{emp.mobileno}},{{emp.salary}}</h6>
</div>

<!-- Template variables help you use data from one part of a template in another part of the template. Use template variables to perform tasks such as respond to user input or finely tune your application's forms. -->
use of #template variables -->
<form #userForm="ngForm" (ngSubmit)="onSubmit()"> 
  
  {{employees|json}}
  <hr>
  <div class="mb-3" >
    <label for="empnm" class="form-label">Employee Name:</label>
    <input type="text" class="form-control" id="empid" name="empname" [(ngModel)]="emp1.ename" [ngModelOptions]="{standalone:true}">
  </div>
  <div class="mb-3">
    <label for="empct" class="form-label">Employee City:</label>
    <input type="text" class="form-control" id="empnm" name="empcity"   [(ngModel)]="emp1.city" [ngModelOptions]="{standalone:true}">
  </div>
  <div class="mb-3">
    <label for="empid" class="form-label">Employee Id:</label>
    <input type="number" class="form-control" id="empsal" name="employeid"  [(ngModel)]="emp1.eid" [ngModelOptions]="{standalone:true}">
  </div>
  <div class="mb-3">
    <label for="empmob" class="form-label">Employee Mobileno:</label>
    <input type="number" class="form-control" id="empsal" name="empmobile"  [(ngModel)]="emp1.mobileno" [ngModelOptions]="{standalone:true}">
  </div>
  <div class="mb-3">
    <label for="empsal" class="form-label">Employee Salary:</label>
    <input type="number" class="form-control" id="empsal" name="empsalary"  [(ngModel)]="emp1.salary" [ngModelOptions]="{standalone:true}">
  </div>
  
  <button type="submit" class="btn btn-primary btn-space" >submit</button> 
  
  <!-- <button type="button" class="btn btn-primary">delete</button>
  <button type="button" class="btn btn-primary">edit</button> -->
</form>