table,th,td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
    margin: 10px;
    text-transform: capitalize;
}
th{
   text-transform: uppercase;
   background-color: rgb(214, 210, 210);
}
