<html>
    <head>
        <title>this is menu</title>
    </head>
    <body>
        <ul class="navmenu">
            <li class="navitem">
              <a href="#" class="navlink">Home</a>
            </li>
           
            <li class="navitem">
              <a href="#" class="navlink">Services</a>
            </li>
           
            <li class="navitem">
              <a href="#" class="navlink">Portfolio</a>
            </li>
           
            <li class="navitem">
              <a href="#" class="navlink">About</a>
            </li>
           
            <li class="navitem">
              <a href="#" class="navlink">Contact</a>
            </li>
           </ul>       
    </body>
</html>

