*{
    margin: 0;
    padding: 0;

}
.navmenu{
    background-color: darkgrey;
    text-decoration: none;
    list-style: none;
}
.navitem{
    text-decoration: none;
    list-style: none;
    
}
.navlink{
    text-decoration: none;
}
li{
    display: inline;
    padding: 8px;
    font-size: 20px;
}